*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

label {
  font-size: 1.2rem;
  color: #656262;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(49, 4, 87, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.formContainer {
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.formContainer > h2 {
  margin-block: 1rem;
  padding-block: 0.6rem;
  color: rgba(49, 4, 87, 1);
}

.formContainer > form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.formContainer div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.formContainer input {
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
  font-size: 1.1rem;
  outline: none;
}

.formContainer input::placeholder {
  font-size: 0.9rem;
  font-style: italic;
}

.formContainer button {
  background-color: rgba(49, 4, 87, 1);
  color: #fff;
  border: none;
  padding: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

span a {
  text-decoration: none;
  color: rgba(49, 4, 87, 1);
}

.error {
  color: red;
  margin-top: 0.5rem;
}